<div align="center">
  <h2>Welcome to the E-Health application</h2>
  <p>Login</p>
  <form action="#" (ngSubmit)="onSubmit()">
    <input type="text" name="email" [(ngModel)]="email" placeholder="Email Id">
    <input type="password" name="password" [(ngModel)]="password" placeholder="Password">
    <input type="submit" value="Login">
    <p>OR</p>
  </form>
  <!-- go to the doctors signup page -->
  <a routerLink="/signup/doctor">Doctor Sign Up</a>
  <router-outlet></router-outlet>
  <!-- go to the patient signup page -->
  <a routerLink="/signup/patient">Patient Sign Up</a>
</div>